<header>
  <div id="logo">
    <img src="assets/logo.png" alt="Website logo, a server" />
  </div>

  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">Management</a>
      </li>
      <li>
        <button>
          <span>
            Logout
          </span>
          <span class="icon">
            →
          </span>
        </button>
      </li>
    </ul>
  </nav>
</header>

<main>
  <div id="dashboard">
    <div class="dashboard-item">
      <article>
        <header>
          <img src="assets/status.png" alt="A signal symbol" />
          <h2>Server Status</h2>
        </header>
        <div>
          <p *ngIf="currentStatus === 'online'">Servers are online</p>
          <p *ngIf="currentStatus === 'online'">All systems are operational.</p>

          <p *ngIf="currentStatus === 'offline'">Servers are offline</p>
          <p *ngIf="currentStatus === 'offline'">Functionality should be restored soon.</p>

          <p *ngIf="currentStatus !== 'online' && currentStatus !== 'offline'">Server status is unknown</p>
          <p *ngIf="currentStatus !== 'online' && currentStatus !== 'offline'">Fetching server status failed.</p>

        </div>
      </article>
    </div>

    <div class="dashboard-item">
      <article>
        <header>
          <img src="assets/globe.png" alt="A globe" />
          <h2>Traffic</h2>
        </header>
        <div id="traffic">
          <p>Last 7 days</p>

          <div id="chart">
            <div *ngFor="let dataPoint of dummyTrafficData" [style.height]="(dataPoint.value / maxTraffic) * 100 + '%'">
            </div>
          </div>
        </div>
      </article>
    </div>

    <div class="dashboard-item">
      <article>
        <header>
          <img src="assets/list.png" alt="A list of items" />
          <h2>Support Tickets</h2>
        </header>
        <div id="status">
          <p>Todo...</p>
        </div>
      </article>
    </div>
  </div>
</main>